[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
plotly = "*"
requests = "*"
jupyter = "*"
fastapi = "*"
uvicorn = "*"
pandas = "*"
langchain = "*"
langchain-experimental = "*"
openai = "*"
chromadb = "*"
yfinance = "*"
prophet = "*"
tiktoken = "*"
gunicorn = "*"
newsapi-python = "*"
celery = "*"
redis = "*"
eventlet = "*"
pinecone-client = "==2.2.4"
langchain-pinecone = "*"
pinecone-notebooks = "*"
pinecone = "*"

[dev-packages]

[requires]
python_version = "3.9"
